.footer {
    // margin-top: -20px;
    border-radius: 14px 14px 0 0;
    background: rgba(2, 2, 2, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 40px 0 24px 0;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 480px) {
        flex-direction: column;
    }
}

.footer-col {
    // width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 480px) {
        width: 100%;
        align-items: center !important;
    }
}

.footer-address {
    color: var(--Color-icon, #5E5E5E);
// text-align: center;
font-family: Urbanist;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
text-transform: capitalize;
margin-top: 31px;
@media screen and (max-width: 480px) {
    text-align: center;     
}
}

.footer-text {
    color: var(--neutral-grey, #EEE);
font-family: Urbanist;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
text-transform: capitalize;
@media screen and (max-width: 480px) {
    text-align: center;     
}
}

.copyright {
    color: var(--primary-grey, #7F7F7F);
font-family: Urbanist;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 16.8px */
@media screen and (max-width: 480px) {
    text-align: center;   
    margin-top: 20px;  
}
}

.arrow-top {
    padding: 17px 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    @media screen and (max-width: 480px) {
        display: none;    
    }
}

.arrow-top:hover {
    background: rgba(255, 255, 255, 0.14);
}
