.how__stage{
    margin-top: 80px;
    position:sticky; top:15vh; min-height:50vh;
      isolation:isolate;
      @media screen and (max-width: 480px) {
          position: relative;
          top: unset;
      }
  }
  .how__rail{position:absolute; left:6%; right:6%; top:55%; height:1px; 
    background: linear-gradient(71deg, #262626 1.43%, #595959 51.03%, #262626 96.82%);  
      @media screen and (max-width: 480px) {
          display: none;   
      }
  }
  
  /* точки */
  .how__dots .dot{
    position:absolute; top:calc(55% - 5px); left:var(--x);
    width:10px; height:10px; 
    border-radius: 9px;
    background: var(--color-brand, #5E5E5E); 
  //   border:2px solid #345b50; x
    transform:translateX(-50%);
    transition: all 600ms ease-in-out;
    @media screen and (max-width: 480px) {
      display: none;       
  }
  }
  
  
  /* картки */
  .how-card{
    position:absolute; left:var(--x); top:var(--y); transform:translate(-50%,-50%);
    width:320px; max-width:36vw; padding:24px; 
    border-radius: 12px;
    background: rgba(20, 20, 20, 0.40);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  
  /* Background Blur */
 
   transition: all 600ms ease-in-out;
   @media screen and (max-width: 480px) {
      position: unset;
      width: 100%; 
      max-width: unset;
      transform: unset;
      margin-bottom: 16px;
    //   border: 1px solid var(--color-border-hover, #4FDB5C);
  background: rgba(20, 20, 20, 0.90);
  }
  }
  .how-card p{
    color: var(--neutral-white, #FFF);
    text-align: center;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 33.6px */
  transition: color 600ms ease-in-out;
  }
  
  .how-card.active p {
      color: #f0f0f0;
  }
  