.platform {
    position: relative; 
    
}
.slider {
    position: relative;
    // width: 1100px;
    max-width: 100%;
    // padding: 40px 80px;
    margin-top: 60px;
    z-index: 10;
  }

  .slider-track {
    position: relative;
    height: 520px;
    perspective: 2000px;
  }

  .slide {
    position: absolute;
    top: 0;
    left: 50%;
    // width: 560px;
    max-width: 100%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 14px;
    background: rgba(26, 26, 26, 0.34);
    overflow: hidden;
    padding: 20px;
    // backdrop-filter: blur(8px);
    opacity: 0;
    pointer-events: none;
    transition:
      transform 0.6s ease,
      opacity 0.6s ease,
      filter 0.6s ease,
      box-shadow 0.6s ease;
    @media screen and (max-width: 480px) {
        width: 100%;    
    }   
  }

  .slide-media {
    position: relative;
    // height: 280px;
    overflow: hidden;
  }

  .slide-media img {
    width: 100%;
    height: 339px;
    object-fit: cover;
    display: block;
  }

  .slide-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.85) 100%
    );
    pointer-events: none;
  }

  

  .slide-tag {
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.11);
    color: var(--neutral-white, #FFF);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    text-transform: uppercase;
  }

  .slide-title {
    color: var(--neutral-white, #FFF);
    font-family: Manrope;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 52.8px */
    margin: 20px 0;
  }

  .slide-desc {
    color: var(--neutral-white, #FFF);
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 31.2px */
    max-width: 515px;
    width: 100%;
  }

  /* --- Позиції слайдів --- */

//   .slide--prev,
//   .slide--next {
//     opacity: 0.4;
//     filter: blur(5px);
//     transform: translateX(-50%) scale(0.7);
//     z-index: 2;
//   }

//   .slide--prev {
//     transform: translateX(-55%) translateZ(-200px) scale(0.7);
//   }

//   .slide--next {
//     transform: translateX(-55%) translateZ(-200px) scale(0.7);
//   }

//   .slide--hidden {
//     opacity: 0;
//     filter: blur(8px);
//     transform: translateX(-50%) translateZ(-400px) scale(0.8);
//     z-index: 1;
//   }

  /* --- Стрілки --- */

  .slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    // width: 48px;
    // height: 50px;
    padding: 17px 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    // color: #fff;
    // font-size: 18px;
    transition: all 400ms ease-in-out;
    z-index: 5;
  }

  .slide--active {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    backdrop-filter: blur(8px);
    z-index: 3;
    
  }
  
  /* Лівий слайд */
  .slide--prev {
    opacity: 0.7;
    filter: blur(5px);
    transform: translateX(calc(-60% - 200px)) scale(0.8);
    z-index: 2;
    background: rgba(255, 255, 255, 0.10);
    @media screen and (max-width: 480px) {
        transform: translateX(-50%);  
    }
  }
  
  /* Правий слайд */
  .slide--next {
    opacity: 0.7;
    filter: blur(5px);
    transform: translateX(calc(-40% + 200px)) scale(0.8);
    z-index: 2;
    background: rgba(255, 255, 255, 0.10);
    @media screen and (max-width: 480px) {
        transform: translateX(-50%);  
    }
  }
  
  /* Далекі слайди */
  .slide--hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-50%) scale(0.8);
    z-index: 1;

  }

  .slider-arrow--left {
    left: 48px;
  }

  .slider-arrow--right {
    right: 48px;
  }

  .slider-arrow:hover {
    background: rgba(255, 255, 255, 0.14);
  }

  .slider-arrow:active {
    transform: translateY(-50%) scale(0.97);
  }


.platform-ell-left {
    position: absolute;
    top: 280px;
    left: 0;
    z-index: -1; 
    @media screen and (max-width: 480px) {
        width: 100%;
    }
}

.platform-ell-right {
    position: absolute;
    top: 350px;
    right: 0;
    z-index: -1;
    @media screen and (max-width: 480px) {
       width: 100%; 
    }
}