html {
  scroll-behavior: smooth;
}

body {
  background: var(--neutral-black, #000);
}

body.noscroll {
  overflow: hidden;
}

section {
  margin-top: 240px !important;
  position: relative;
  @media screen and (max-width: 480px) {
    margin-top: 100px !important;   
  }
}

// .bold {
//   font-weight: 600;
// }

a {
  text-decoration: none;
}

.video {
  position: absolute;
  inset: 0;
  top: 130px;
  width: 100%;
  height: max-content;
  max-height: 1900px;
  z-index: -1;  
}

.video::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.2) 54.33%, #000 100%);
  pointer-events: none;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  // z-index: -1;
}

.orange {
  color: #C70C01;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.text {
  color: rgba(255, 255, 255, 0.90);
  text-align: center;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  max-width: 716px;
  width: 100%;
  @media screen and (max-width: 480px) {
    font-size: 20px; 
  }
}

.title {
  color: var(--neutral-white, #FFF);
  text-align: center;
  font-family: Manrope;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 66px */
  max-width: 716px;
  width: 100%;
  @media screen and (max-width: 480px) {
    font-size: 32px;
  }
}

.list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 80px;
  @media screen and (max-width: 480px) {
    flex-direction: column; 
  }
}

.item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 400ms ease-in-out;
  @media screen and (max-width: 480px) {
    border-radius: 14px;
  background: rgba(255, 255, 255, 0.14);
  }
}

.item:hover {
  border-radius: 14px;
background: rgba(255, 255, 255, 0.14);
}

.item:hover .digital-icon-second {
  background-image: url('/src/images/digital2-red.svg');
}

.item:hover .digital-icon-first {
  background-image: url('/src/images/digital1-red.svg');
}

.item:hover .digital-icon {
  background-image: url('/src/images/digital3-red.svg');
}



// .button {
    
  
//   @media screen and (max-width: 480px) {
      
//   }
// }
  
//   .button:hover {
    
//   }
  
//   .button svg path {
//     transition: all 400ms ease;
//   }
  
//   .button:hover svg path {
//     stroke: #22206D;
//   }


// .sticky-section {
//     position: sticky !important;
//     top: -50%;
//     // height: 150vh;
//     @media screen and (max-width: 480px) {
//         position: unset !important;
//     }
//   }

// br {
//     @media screen and (max-width: 480px) {
//         display: none;   
//     }
// }

// .anim-show {
//     transform: translate(0px, 120%);
//     opacity: 0;
//     transition: all 1000ms ease 0s;
// }

// .anim-show.-active, .-active .anim-show {
//     opacity: 1;
//     transform: translate(0px, 0px);
// }

// .anim-items {
//     overflow: hidden;
// }