@import './utils/globals';
@import './utils/reset';
@import './components/container';
@import './components/header';
@import './components/popup';
@import './components/hero';
@import './components/glass';
@import './components/built';
@import './components/platform';
@import './components/digital';
@import './components/footer';
@import './components/how';
@import './components/core';
@import './components/service';
@import './components/mission';
// @import './components/about';
// @import './components/why';
// @import './components/values';
// @import './components/equip';
// @import './components/team';
// @import './components/partner';
// @import './components/sol';
// @import './components/results';
// @import './components/expertise';
// @import './components/advan';

// @import './components/contact';
@import './components/policy';